@using WebApplication6.ViewModel;

@{
    ViewData["Title"] = "ForgotPassword";
}

@model ForgotPasswordViewModel

<main class="main">
    <nav class="breadcrumb-nav">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="demo1.html"><i class="d-icon-home"></i></a></li>
                <li><a href="shop.html">Riode Shop</a></li>
                <li>My Account</li>
            </ul>
        </div>
    </nav>
    <div class="page-content mt-10 pb-10 pt-10 mb-10 d-flex justify-content-center align-items-center">
        <div class="container">
            <div class="login-popup">
                <div class="form-box">
                    <div class="tab tab-nav-simple tab-nav-boxed form-tab">
                        <ul class="nav nav-tabs nav-fill align-items-center border-no justify-content-center mb-5" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active border-no lh-1 ls-normal" href="#signin">Login</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="signin">
                                <form method="post">
                                    <div class="form-group mb-10 mt-10 pb-1 pt-1">
                                        <input asp-for="Email" class="form-control" placeholder="Email address" />
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div>
                                        <button class="btn btn-dark btn-block btn-rounded" >Send Email</button>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

